/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */

@tailwind base;

html {
  scroll-behavior: smooth;
}
:root {
  --primaryScrollBar: rgb(64, 60, 68);
  --secondaryScrollBar: rgb(106, 110, 114);
  --thirdScrollBar: rgb(255, 255, 255);
}
/* Firefox */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: var(--secondaryScrollBar) var(--primaryScrollBar);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primaryScrollBar);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondaryScrollBar);
  border-radius: 14px;
  border: 3px solid var(--primaryScrollBar);
}

@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "Roboto Condensed", sans-serif;
    src: url("/fonts/RobotoCondensed-VariableFont_wght.ttf");
  }
@font-face {
    font-family: "Roboto Slab", serif;
    src: url("fonts/RobotoSlab-VariableFont_wght.ttf");
  }
